*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #0c1022;
}
.box{
    position: absolute;
    width: 300px;
    height: 400px;
    background:rgba(0, 0, 0, .75);
    border-radius:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.box::after{
    content:'';
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(transparent, transparent, transparent, #0086da);
    animation: animate 4s linear infinite;
    animation-delay: -2s;
}
.box::before{
    content:'';
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(transparent, transparent, transparent, #a900dc);
    animation: animate 4s linear infinite;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.box span{
    position: absolute;
    inset: 5px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0c1022;
    flex-direction: column;
    z-index: 1;
}

.box span h1{
    color:#0086da;
}

.box span h2{
    color: #a900dc;
}